body {
    background-color: #FFFFFF;
    color: #434455;
}

.list {list-style: none;
}

.link {text-decoration: none;}

/* Header */
/* Logo */
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.accent {color: #2E2F42;}



.menu-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;}

/* .menu-link:hover,
.menu-link:focus {color: #404BBF; }

.menu-link.studio:hover,
.menu-link.studio:focus {
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
} */

.contact-email, .contact-phone {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Main */
/* Hero */

/* .btn-order {
    background-color: #4D5AE5;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5px;
    /* display: flex;
    align-items: center; */
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
}

.btn-order:hover, 
.btn-order:focus {background-color: #4D5AE5;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);} */

.hero-title {
    font-family: 'Roboto', sans-serif;    
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    /* color: #FFFFFF;} */}

.section-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height:1.11px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;}


.discription-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2px;
      letter-spacing: 0.02em;
    color: #2E2F42;
}

.text-description {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5px;
    letter-spacing: 0.02em;
    color: #434455;}

.text-description-footer {
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    /* color: #E7E9FC; */
}

/* .page-nav > .logo {color: #4D5AE5;}
.accent {color: #2E2F42;} */

/* .page-nav a {color: #2E2F42;}

.page-nav-adress a {color: #434455;} */


/* Палітра кольорів  */
/* logo blue #4D5AE5, navy blue #2E2F42 */
/* nav - #2E2F42 */
/* adress - #434455 */
/* h1 - #FFFFFF */
/* h2 #2E2F42 */
/* h3 #2E2F42 */
/* button color #FFFFFF */
/* p2 button blue #4D5AE5 */
/* text #434455 */
/* text footer #E7E9FC */
/* section3 #F4F4FD */






